<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
df_source = df
duplicateRows = df[df.duplicated()]
print(len(duplicateRows))

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df=df.drop_duplicates(keep='first')

Verify if duplicates were actually dropped.

In [16]:
# your code goes here
df[df.duplicated()]
#df.shape
len(df['Respondent'].unique())

11398

## Finding Missing values

Find the missing values for all columns.

In [17]:
# your code goes here
dict(df.isnull().sum())

{'Respondent': 0,
 'MainBranch': 0,
 'Hobbyist': 0,
 'OpenSourcer': 0,
 'OpenSource': 81,
 'Employment': 0,
 'Country': 0,
 'Student': 51,
 'EdLevel': 112,
 'UndergradMajor': 737,
 'EduOther': 164,
 'OrgSize': 96,
 'DevType': 65,
 'YearsCode': 9,
 'Age1stCode': 13,
 'YearsCodePro': 16,
 'CareerSat': 0,
 'JobSat': 1,
 'MgrIdiot': 493,
 'MgrMoney': 497,
 'MgrWant': 493,
 'JobSeek': 0,
 'LastHireDate': 0,
 'LastInt': 413,
 'FizzBuzz': 37,
 'JobFactors': 3,
 'ResumeUpdate': 39,
 'CurrencySymbol': 0,
 'CurrencyDesc': 0,
 'CompTotal': 809,
 'CompFreq': 206,
 'ConvertedComp': 816,
 'WorkWeekHrs': 122,
 'WorkPlan': 121,
 'WorkChallenge': 164,
 'WorkRemote': 8,
 'WorkLoc': 32,
 'ImpSyn': 5,
 'CodeRev': 1,
 'CodeRevHrs': 2426,
 'UnitTests': 29,
 'PurchaseHow': 196,
 'PurchaseWhat': 38,
 'LanguageWorkedWith': 11,
 'LanguageDesireNextYear': 134,
 'DatabaseWorkedWith': 453,
 'DatabaseDesireNextYear': 1042,
 'PlatformWorkedWith': 411,
 'PlatformDesireNextYear': 544,
 'WebFrameWorkedWith': 1393,
 'WebFrameDesireNextYear': 1617,
 'MiscTechWorkedWith': 2182,
 'MiscTechDesireNextYear': 1455,
 'DevEnviron': 29,
 'OpSys': 34,
 'Containers': 82,
 'BlockchainOrg': 2322,
 'BlockchainIs': 2610,
 'BetterLife': 98,
 'ITperson': 35,
 'OffOn': 38,
 'SocialMedia': 293,
 'Extraversion': 20,
 'ScreenName': 507,
 'SOVisit1st': 325,
 'SOVisitFreq': 5,
 'SOVisitTo': 1,
 'SOFindAnswer': 3,
 'SOTimeSaved': 50,
 'SOHowMuchTime': 1917,
 'SOAccount': 1,
 'SOPartFreq': 1128,
 'SOJobs': 6,
 'EntTeams': 5,
 'SOComm': 0,
 'WelcomeChange': 85,
 'SONewContent': 1965,
 'Age': 287,
 'Gender': 73,
 'Trans': 123,
 'Sexuality': 542,
 'Ethnicity': 675,
 'Dependents': 140,
 'SurveyLength': 19,
 'SurveyEase': 14}

Find out how many rows are missing in the column 'WorkLoc'

In [18]:
print("number of NaN values for the column WorkLoc :",df['WorkLoc'].isnull().sum())

number of NaN values for the column WorkLoc : 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [19]:
# your code goes here
df['WorkLoc'].value_counts().to_frame()

                                                WorkLoc
Office                                             6806
Home                                               3589
Other place, such as a coworking space or cafe      971

Identify the value that is most frequent (majority) in the WorkLoc column.

In [20]:
#make a note of the majority value here, for future reference
#Office is the most frequent value

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [21]:
import numpy as np

In [22]:

# your code goes here
df['WorkLoc'].replace(np.nan, "Office", inplace=True)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [23]:
df['WorkLoc'].isnull().sum()

0

In [24]:
#What is the majority category under the column Employment?

df['Employment'].value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [25]:
#Under the column " UndergradMajor", which category has the minimum number of rows?
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [27]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [28]:
df['CompFreq'].value_counts()
#df['CompFreq'].isnull().sum()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [29]:
df.loc[df['CompFreq']=='Monthly', ['CompFreq','CompTotal']]

      CompFreq  CompTotal
3      Monthly    29000.0
5      Monthly     9500.0
6      Monthly     3000.0
9      Monthly     8000.0
10     Monthly     7000.0
...        ...        ...
11539  Monthly   120000.0
11540  Monthly    36000.0
11541  Monthly     2850.0
11545  Monthly     5000.0
11546  Monthly      800.0

[4788 rows x 2 columns]

In [30]:
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df['CompTotal']*12
df.loc[df['CompFreq']=='Monthly', ['CompFreq','CompTotal', 'NormalizedAnnualCompensation']]

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

      CompFreq  CompTotal  NormalizedAnnualCompensation
3      Monthly    29000.0                      348000.0
5      Monthly     9500.0                      114000.0
6      Monthly     3000.0                       36000.0
9      Monthly     8000.0                       96000.0
10     Monthly     7000.0                       84000.0
...        ...        ...                           ...
11539  Monthly   120000.0                     1440000.0
11540  Monthly    36000.0                      432000.0
11541  Monthly     2850.0                       34200.0
11545  Monthly     5000.0                       60000.0
11546  Monthly      800.0                        9600.0

[4788 rows x 3 columns]

In [31]:
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df['CompTotal']*52
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df['CompTotal']

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [32]:
df.loc[df['CompFreq']=='Weekly', ['CompFreq','CompTotal', 'NormalizedAnnualCompensation']]

      CompFreq  CompTotal  NormalizedAnnualCompensation
12      Weekly     2000.0                      104000.0
13      Weekly    22000.0                     1144000.0
46      Weekly    67800.0                     3525600.0
76      Weekly   137000.0                     7124000.0
135     Weekly        NaN                           NaN
...        ...        ...                           ...
11401   Weekly    90000.0                     4680000.0
11407   Weekly     2250.0                      117000.0
11417   Weekly    65000.0                     3380000.0
11430   Weekly    90000.0                     4680000.0
11443   Weekly     2880.0                      149760.0

[331 rows x 3 columns]

In [33]:
#  alternatively we can apply a function - not tested
'''def rep(r):
    if r['CompFreq']== 'Monthly':
        val = df['CompTotal']*12
    elif r['CompFreq']== 'Weekly':
        val = df['CompTotal']*52
    else:
        val= df['CompTotal']
    return val

df['NormalizedAnnualCompensation'] = df.apply(rep, axis=1)'''

"def rep(r):\n    if r['CompFreq']== 'Monthly':\n        val = df['CompTotal']*12\n    elif r['CompFreq']== 'Weekly':\n        val = df['CompTotal']*52\n    else:\n        val= df['CompTotal']\n    return val\n\ndf['NormalizedAnnualCompensation'] = df.apply(rep, axis=1)"

In [34]:
df[['CompFreq','CompTotal', 'NormalizedAnnualCompensation']].head(20)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0

In [35]:
#What is the median NormalizedAnnualCompensation?   
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).